@import '__vars.scss';

.progress-bar {
  width: 256px;
  margin: 0 auto;

  p {
    opacity: 0.5;
    margin-top: 5px;
    font-size: 90%;
  }

  .outer {
    width: 100%;
    background: $primary-color;
    height: 8px;
    border-radius: $border-radius;

    .inner {
      background-color: $secondary-color;
      height: 100%;
      border-radius: $border-radius;
    }
  }
}