@import '__vars.scss';

.training-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: $max-width;
  margin: 0 auto;
  height: 100%;

  #canvas {
    display: block;
    margin: 0 auto;
    background-color: $primary-color;
    border-radius: $border-radius;
  }
}